@model IEnumerable<HSM_Music.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(!Model.Any())
{
    <p> there are no movies  yet </p>
}


else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Movies</th>
                <th> Genre</th>
            </tr>


        </thead>
        <tbody>
            @foreach (var movies in Model)
            {
                <tr>
                    <td>@movies.Name</td>
                    <td> @Html.ActionLink(movies.Name, "Details", "Customers", new { id = movies.Id }, null)</td>
                    <td> @movies.Genre.GenreName</td>
                </tr>

            }

        </tbody>
    </table>
}
