@model IEnumerable< HSM_Music.Models.Movies>

@{ 
    ViewBag.Title = "Model.Name ";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p> There are no movies at this time</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Movies</th>
                <th>Genre</th>
            </tr>
            
        </thead>
        <tbody>
            @foreach(var movies in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movies.Name, "Details", "Movies", new { id = movies.Id }, null)</td>
                    <td>@movies.Genre.Name</td>
                </tr>
            }
        </tbody>
        
    </table>

}